<ion-view view-title="Ventajas y Desventajas">
  <ion-content>
    <ion-list>
      <div ng-repeat="ventaja in ventajas">
          
        <ion-item class="item-stable item-ventajas" ng-click="toggleGroup(ventaja)"
                  ng-class="{'green_gradient': ventaja.tipo == 'V', 'red_gradient': ventaja.tipo == 'D', active: isGroupShown(ventaja)}">
            {{ventaja.nombre}} | {{ventaja.puntos}} puntos
        </ion-item>
          
        <ion-item class="item-accordion item-accordion-ventajas" ng-show="isGroupShown(ventaja)">
            <div class="longDiv">{{ventaja.desc}}</div>
        </ion-item>
          
        </div>
    </ion-list>
  </ion-content>
</ion-view>